html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    
    
}

.navbar {
    background: black; /* Futuristic gradient */
}


.navbar .navbar-brand, .navbar-nav .nav-link {
    color: #00ffcc; /* Neon blue for text and links */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 255, 204, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.navbar .navbar-nav .nav-link:hover {
    color: #00d4ff; /* Neon blue on hover */
    transition: color 0.3s ease; /* Smooth transition */
}


.header {
    background-color: #121212; /* Dark gradient */
    height: 100vh;
    color: #00d4ff; /* Futuristic neon text */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro-text {
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    font-family: 'Poppins', sans-serif; /* Change to Poppins for a modern look */
    color: #ff4500; /* Change to Dodger Blue for a vibrant look */
    font-size: 3rem; /* Increase font size for more impact */
    font-weight: 600; /* Medium weight for a bolder feel */
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for depth */
    transition: 0.5s;
    animation: fadeInUp 1.5s;
}

.intro-text2 {
    animation: fadeInUp 1.5s;
    font-family: 'Poppins', sans-serif; /* Change to Poppins for consistency */
    color: #ff4500; /* Change to Orange Red for contrast */
    font-size: 2.5rem; /* Slightly smaller size for emphasis */
    font-weight: 800; /* Bold weight for a strong presence */
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
    transition: 0.5s;
}
.wavy {
    position: relative;
    display: inline;
    white-space: nowrap;
    
   
}


.wavy span {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: inline-block;
    color: #00ffcc;
    font-size: 2rem;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.05s * var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-40px);
    }
    40%,
    100% {
        transform: translateY(0px);
    }
}

.animate-text {
    font-family: 'Courier New', Courier, monospace;
    color: #00ffcc;
    animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translateY(20px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .intro-text {
        font-size: 1.5rem;
    }

    .wavy {
        font-size: 0.5rem;
    }

    .intro-text2 {
        font-size: 1.5rem;
    }
}

.header .btn {
    margin-top: 20px;
    animation: fadeInUp 1.5s;
    padding: 10px 20px;
    background: #800000;
    color: #ffffff;
    border-radius: 15px;
    font-weight: 350;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.section-title {
    color: #00d4ff; /* Neon blue for section titles */
    
    margin-bottom: 30px;
    margin-top: 30px;
}


.section-title.text-center::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #00ffcc;
    margin: 10px auto;
    border-radius: 3px;
}


.contact-info p a {
    color: #888; /* Neon blue */
    text-decoration: none;
}

.contact-info p a:hover {
    text-decoration: underline;
    color: #00ffcc;
}

footer {
    background: black; /* Dark gradient */
    color: #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
    width: 0;
}

#scrollpath1 {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}

#scrollpath2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 100%;
}

#progressbar1 {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #808080, #800000);
    animation: animate1 5s linear infinite;
}

#progressbar2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10px;
    background: linear-gradient(to bottom, #1d2b64, #f8cdda);
    animation: animate1 5s linear infinite;
}

@keyframes animate1 {
    0%,
    100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #808080, #800000);
    filter: blur(10px);
}

#progressbar2::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #1d2b64, #f8cdda);
    filter: blur(10px);
}

#progressbar1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #808080, #800000);
    filter: blur(30px);
}

#progressbar2::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #1d2b64, #f8cdda);
    filter: blur(30px);
}



#MyResume {
    background-color: #1a1a1a; /* Dark background for Resume section */
    padding: 20px;
    color: #808080;
    margin: 0 auto;
}



.box {
    position: relative;
    width: 350px;
    height: 350px;
    background: #808080;
    border-radius: 50%;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #101820, #00d4ff); 
    transition: 0.5s;
    animation: animate2 4s linear infinite;
}

.box:hover::before {
    inset: -20px 0px;
}

@keyframes animate2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #000000;
    border-radius: 50%;
    z-index: 1;
}

.pic {
    position: absolute;
    inset: 30px;
    border: 6px solid  #808080;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.box:hover .pic img {
    opacity: 0;
}

.pic h2 {
    position: relative;
 
    text-align: center;

    color:  #00d4ff;
    

    font-family: 'Arial', sans-serif;
    
    font-size: 2rem;
    font-weight: 400;
    margin-top: 10px;
}

.pic h2 span {
    font-weight: 200;
    font-size: 1.5rem;
}

.btn a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #00ffcc;
    color: black;
    border-radius: 15px;
    font-weight: 200;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}

.btn a:hover {
    letter-spacing: 0.2em;
}


#AboutMe {
   
    background-color: #1a1a1a; /* Background for About Me section */
 
    margin: 0 auto;
    padding: 20px;
   
    color: #808080;
}

.section-title {

    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
    color: #00ffcc; /* Neon color for consistency */
}

.code-block {
    font-family: 'Courier New', Courier, monospace;
    background: black;
    padding: 5px; /* Adjust padding for the code block */
    border-radius: 8px;
    max-width: 80%; /* Set a maximum width for the code block */
    margin: 0 auto; /* Center the code block */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    display: none; /* Initially hidden */
}

.line {
    display: block;
          
}

.indent {
    padding-left: 20px;
}

.indent-2 {
    padding-left: 40px;
}

.indent-3 {
    padding-left: 60px;
}

.keyword {
    color: #c678dd;
}

.classname, .function-name {
    color: #61afef;
}

.parameter, .property {
    color: #e06c75;
}

.operator, .punctuation {
    color: #56b6c2;
}

.string {
    color: #98c379;
}

.number {
    color: #d19a66;
}

.comment {
    color: #5c6370;
}
.caret {
    display: inline;
    border-right: .15em solid orange;
    animation: caret 0.75s steps(1) infinite;
}
@keyframes caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px; /* Space between rows */
}

.contact-left,
.contact-right {
    display: flex;
    align-items: center; /* Aligns icon and text vertically */
}

.contact-left a,
.contact-right {
    margin-left: 10px; /* Adds space between icon and text */
    color: #808080;
    text-decoration: none; /* Removes underline from links */
    font-size: 16px; /* Font size for contact details */
}


.contact-item i {
    color: #00ffcc; /* Icon color */
    margin-right: 10px; /* Adds space between icon and text */
}

footer {
    background-color:black; /* Footer background color */
    color: #808080;
    padding: 20px 0;
    font-size: 14px; /* Footer text size */
}

footer a {
    color: #00ffcc; /* Link color */
    transition: color 0.3s ease; /* Smooth transition on hover */
}

footer a:hover {
    color: #00d4ff; /* Change color on hover */
}

footer .container-fluid {
    margin-top: 20px; /* Space above the copyright section */
}

.card {
    background-color: #1a1a1a; /* Dark background for the card */
    color: #808080; /* White text for contrast */
    border: none; /* Remove border */
    border-radius: 10px; /* Slightly rounded corners */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

.card:hover {
    transform: translateY(-5px); /* Lift the card on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

.card-body {
    padding: 20px; /* Padding inside the card */
}

#contact {
    background-color: #1a1a1a;/* Dark background for the section */
    
    padding: 20px; /* Top and bottom padding */
    color: #808080;
}


.neon-border {
    border: 2px solid #00ffcc; /* Neon border color */
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc; /* Neon glow effect */
}

#contact label, h3 {
    color: #00d4ff;
    font-family: 'Arial', sans-serif;
   
    font-weight: 500;
 
   
}

.neon-button {
    background-color: #00ffcc;
    border-radius: 25px;
    color: #808080;
    transition: 0.3s;
}

.neon-button:hover {
    background-color: #009f9c;
    transform: scale(1.05);
}


#projects {
    background-color: #121212; /* Dark background for the section */
    color: #808080;
    padding: 20px; /* Top and bottom padding */
}


.project-slider {
    position: relative; /* Positioning for absolute children */
    max-width: 1000px; /* Limit width */
    margin: auto; /* Center the slider */
    height: 500px; /* Set height for uniformity */
}

.project-card {
    position: absolute; /* Stack cards */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease; /* Smooth transition */
    display: flex; /* Flexbox for centering */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
}

.project-card.active {
    opacity: 1; /* Show active card */
}

.project-image {
    width: 40%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners */
    max-height: 300px; /* Limit height */
  
}

.project-details {
    text-align: center; /* Center text */
    padding: 20px; /* Padding */
}

.project-title {
    font-size: 1.5rem; /* Title size */
    color: #00d4ff; /* Title color */
}

.project-description {
    margin: 10px 0; /* Space around description */
}


.btn-github { 
    background-color: #00ffcc;
    border-radius: 25px;
    color: #808080;
    transition: 0.3s;
}

.btn-github:hover {
    background-color: #009f9c;
    transform: scale(1.05);
}

.blurred-image {
    filter: blur(2px); /* Adjust the blur intensity */
    transition: filter 0.3s ease; /* Smooth transition if needed */
}



.nav-buttons {
    position: absolute; /* Position for navigation buttons */
    top: 50%; /* Center vertically */
    width: 100%; /* Full width */
    display: flex; /* Flexbox for alignment */
    justify-content: space-between; /* Space between buttons */
    transform: translateY(-50%); /* Adjust for vertical centering */
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border: none; /* No border */
    color: #ffffff; /* Text color */
    padding: 10px 15px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    font-size: 18px; /* Font size */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
}

.project-slider2 {
    position: relative; /* Positioning for absolute children */
    max-width: 1000px; /* Limit width */
    margin: auto; /* Center the slider */
    height: 500px; /* Set height for uniformity */
}

.project-card2 {
    position: absolute; /* Stack cards */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease; /* Smooth transition */
    display: flex; /* Flexbox for centering */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
}

.project-card2.active {
    opacity: 1; /* Show active card */
}

.read-more {
    color: #00ffcc;
    cursor: pointer;
}

.hidden-content {
    display: none;
}